@import url(style.css);
.skill-section{
    position: relative;
    margin: 100px 0;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skills-container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: #fff;
}

.skill{
    &-card{
        position: relative;
        &:nth-child(1) .skill-level{
            background: #ff4f4f28;
            border-color: #ff4f4f;
            color: #ff4f4f;
        }
        
        &:nth-child(2) .skill-level{
            background: #4fa0ff28;
            border-color: #4fa0ff;
            color: #4fa0ff;
        }
        
        &:nth-child(3) .skill-level{
            background: #ffed4f28;
            border-color: #ffed4f;
            color: #ffed4f;
        }
        
        &:nth-child(4) .skill-level{
            background: #41043828;
            border-color: #5c082b;
            color:#5c082b;
        }
        
        &:nth-child(5) .skill-level{
            background: #4fdfff28;
            border-color: #4fdfff;
            color: #4fdfff;
        }
        &:nth-child(6) .skill-level{
            background: #3f3b0228;
            border-color: #ffa44f;
            color: #ffa44f;
        }
    }
    
    &-img{
        display: block;
        margin: auto;
        height: 200px;
        border-radius: 50%;
    }
    
    &-name{
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        text-transform: capitalize;
        margin: 30px 0 20px;
    }
    
    &-info{
        text-align: center;
        opacity: 0.5;
        font-size: 18px;
        line-height: 30px;
    }
    
    &-level{
        position: absolute;
        top: 80px;
        right: 0;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        border-radius: 50%;
        border: 10px solid;
    }
}
